<h2>Admin App</h2>
<button (click)="onLogoutRequest()">Logout</button><br>
<button (click)="onGoHomeRequest()">Home</button><br>
<form [formGroup]="delayForm" (ngSubmit)="onSetDelaySubmit()">
  <label for="delay">
    API Delay (in seconds) ({{MIN_DELAY}} to {{MAX_DELAY}}):
    <input
      id="delay"
      type="text"
      formControlName="delay"
      inputmode="numeric"
      pattern="\d*"
      min="{{MIN_DELAY}}"
      max="{{MAX_DELAY}}"
      value="{{(delay)?delay:'-'}}"
      #delay
      (click)="onInputChange(delay.value)"/>
  </label>
  <br>
  <button type="submit">Set Delay</button>
</form>
<br>
<!-- TODO: check if {{}} works inside string -->
<p style="color:{{messageColor}};">{{message}}</p>
