<!-- Progress Bar -->
<mat-progress-bar
  mode="indeterminate"
  *ngIf="loading">
</mat-progress-bar>

<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

  <mat-form-field>
    <mat-label>User Id</mat-label>
    <input matInput type="text" formControlName="userId"/><br>
    @if (loginForm.controls["userId"].invalid) {
      <mat-error>4 digit number</mat-error>
    }
  </mat-form-field>
  <br>

  <mat-form-field>
    <mat-label>Password</mat-label>
    <input matInput type="password" formControlName="password"/><br>
    @if (loginForm.controls["password"].invalid) {
      <mat-error>1 to 4 lower case alphabets</mat-error>
    }
  </mat-form-field>
  <br>

  <button
    mat-stroked-button
    type="text"
    [disabled]="!loginForm.valid || loading"
    formnovalidate>Login</button>
</form>

<p style='color:red;'>{{errMsg}}</p>
